@import "main.css";
body{
  background-image: linear-gradient(90deg, Purple, Fuchsia);
}
 .a{
  font-size: 20px; font-weight:bolder;color: blue;
 }
 .b{
  font-size: 20px; font-weight:bolder;color: red;
 }
 .a1{
  font-size: 60px; font-weight:bolder;color: blue;
 }
 .b1{
  font-size: 60px; font-weight:bolder;color: red;
 }

.img1{
  border:2px solid DarkBlue;
  margin: 10px;
  border-radius: 50%;
}
.img{
  border:0px solid DarkBlue;
  margin: 2px;
}
.img:hover{

  border:2px solid DarkBlue;
  margin: 0px;
}
.btn{
  border-radius: 20px;
  color: White;
  text-decoration: none;
  margin-right: 15px;
  margin-left: 15px;
  background-image: linear-gradient(45deg, Fuchsia, Purple);
  border:2px solid DarkBlue;
  padding: 10px;
  transition: all 0.5s ease;
}
.btn:hover{
  background-image: linear-gradient(45deg, MediumOrchid, Indigo);
}
.nav{
  background-image: linear-gradient(135deg, Fuchsia, Purple);
  padding:20px;
  border:2px solid DarkBlue;
}
hr{
  border:1px solid DarkBlue;
}
